/*-----------Initial--------------------*/
::-webkit-scrollbar {width: 0;}
.fixedElement{
position: fixed;
-webkit-transform: translate3d(0, 0, 0);
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
}
.transtionElement{
-webkit-transform: translate3d(0, 0, 0);
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
}    
.loadingScreen{
display: block;
top:0;
left: 0;
width: 100%;
height: 100%;
background-color: #333;
z-index: 9999999;
opacity: 1;
-webkit-transition: opacity .15s;
transition: opacity .15s;
}
.loadingAnimation{
display: block;
position: fixed;
width: 60px;
height: 60px;
top: 50%;
left: 50%;
margin-top: -30px;
margin-left: -30px;
overflow: hidden;
}
#load {
width: 60px;
animation: loading 3s linear infinite;
}
#load #loading-inner {
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  animation: loading-circle 2s linear infinite;
  stroke: #FBD75B;
  fill: transparent;
}
@keyframes loading {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}
@keyframes loading-circle {
  0% {stroke-dashoffset: 0;}
  100% {stroke-dashoffset: -600;}
}

body{
width: 100%;
margin: 0;
padding: 0;
font-family: 'PT Sans';
letter-spacing: 0.6px;
overflow-x: hidden;
color: #555;
padding-top: 50px;
}

/*------------HTML ELEMENTS-------------*/
body p{
margin: 0;
}
body a{
text-decoration: none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.space{
width: 100%;
height: 10px;
display: block;
}

/*--------------TOP Header--------------*/
.header{
width: 100%;
height: 50px;
padding: 0;
display: block;
background-color: #0086B5;
top: 0;
left: 0;
z-index: 9999;
}
.logo, .navMenuLeft {
height: 50px;
text-align: left;
padding-top: 2px;
color: rgba(255,255,255,0.95);
font-weight: bold;
}
.navMenuLeft {
width: 48px;
height: 48px;
display: block;
float: left;
background-color: rgba(0,0,0,0.1);
cursor: pointer;
-webkit-tap-highlight-color:rgba(0,0,0,0);
margin: 0;
}
.navMenuLeft img{
max-width: 36px;
max-height: 36px;
padding: 5px 5px 6px 6px;
}
.is-open{
background-color: rgba(0,0,0,0.5);
}
.is-closed{
background-color: rgba(0,0,0,0.2);
}
.logo{
display: block;
width: 150px;
margin: 0 auto;
margin-right: 0;
font-size: 25px;
line-height: 25px;
text-decoration: none;
}
.logo::after{
content: "BUSINESS PROMOTION";
display: block;
width: 145px;
margin: 0 auto;
margin-right: 5px;
font-size: 12px;
line-height: 10px;
background-color: #fff;
padding: 4px 5px;
border-radius: 3px;
color: #0086B5;
}

/*--------------Left Menu---------------*/
.headerLeft{
display: block;
top: 0;
padding: 50px 0 20px;
width: 270px;
height: 100%;
overflow: auto;
background-color: #333;
letter-spacing: 1.1px;
text-transform: uppercase;

box-shadow: -10px -10px 30px #272727 inset;
margin-left: 0;
}
.logoImg {
display: block;
width: 100%;
margin: 25px 0 30px;
text-align: center;
}
.logoImg img {
width: 140px;
}
.headerLeft .menu{
display: block;
font-weight: bold;
padding-left: 10px;
margin: 1px 0;
background: rgba(255,255,255,0);
box-shadow: 0 0 0 1px #444;
z-index: 99;
}
.menu a{
color: #eee;
line-height: 50px;
}
.subMenu{
width: 100%;
display: block;
display: none;
}
.subMenuList{
display: block;
color: #eee;
padding: 16px 0 16px 15px;
font-size: 80%;
background: rgba(0,0,0,0.3);
margin: 2px 0;
}
.menu img{
font-family: serif;
width: 22px;
padding: 4px;
float: right;
margin: 14px;
border-radius: 50%;
background-color: #FBD75B;
-webkit-transform: rotate(0);
-webkit-transition: all .3s linear;
}
.smallnav{
margin-right: 6px;
background-color: #eee;
padding: 0.8px 4px 1px;
font-weight: bold;
color: #444;
border-radius: 4px;
zoom: 0.9;
}

/*-----------Content For Scroll----------*/
div.container {
overflow: hidden!important;
display: block;
height: auto;
width: 100%;
}

/*-----------Main Grid and Body----------*/
.bodyBase{
position: relative;
display: block;
width: 100%;
min-height: 100%;
background-color: #f7f7f7;
margin-left: 0px;
z-index: 99;
transition: margin .3s ease;
-webkit-transition: margin .3s ease;
-webkit-transform: translate3d(0, 0, 0);
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
}

/*--------------AJAX Content-------------*/
.grid{
max-width: 720px;
margin: 0 auto;
}
.chapterTitle {
display: block;
height: auto;
font-weight: bold; 
background-color: #FBD75B;
padding: 0 5px 1px;
}
.chapterx{
text-transform: uppercase;
padding: 2px 6px;
background-color: #555;
color: #eee;
border-radius: 4px;
}
.chapterTitle p{
display: block;
min-height: 50px;
line-height: 50px;
margin: 0;
}
.chapterTitle img{
display: block;
float: right;
width: 50px;
height: 50px;
}
.contentBox h1{text-align: left;}
.contentBox{
text-align: justify;
padding: 10px 5px 30px;
}
.contentBox img{
display: block;
width: 100%;
margin: 0 auto 20px;
height: auto;
box-shadow: 0 0 4px #ddd;
border-radius: 4px;
-webkit-pointer-event: none;
}
.chapterNavigation{
display: block;
width: 100%;
padding: 10px 0;
letter-spacing: 0.5px;
border-top: 2px dashed #ddd;
border-bottom: 2px dashed #ddd;
background-color: #f4f4f4;
background: repeating-linear-gradient(
  135deg,
  #f4f4f4,
  #f4f4f4 10px,
  #eeeeee 10px,
  #eeeeee 20px
);
}
.chapterNavigation a{
color: #444;
}
.previousArticle, .nextArticle{
width: 48%;
display: inline-block;
margin: 0 0.7%;
border-radius: 5px;
}
.previousArticle p{
-webkit-filter: grayScale(1) contrast(1.4);
}
.previousArticle p, .nextArticle p{
display: block;
height: 40px;
width: 170px;
margin: 0 auto;
background-color: FBD75B;
border-radius: 8px;
box-shadow: 0 0 5px #555;
border: 2px solid #E36C46;
}
.previousArticle img, .nextArticle img {
display: inline-block;
height: 36px;
width: 36px;
margin: 0;
}
.previousArticle span, .nextArticle span{
display: inline-block;
float: left;
width: 120px;
line-height: 36px;
font-weight: bold;
font-size: 100%;
}
.previousArticle img {
float: left;
-webkit-transform: scaleX(-1);
filter: FlipH;
margin-right: 10px;
}
.nextArticle img {
float: right; 
margin-left: 10px;
}
.previousArticle span{
text-align: left;
}
.nextArticle span{
display: block;   
text-align: right;
}

/*--------------Chapter List---------------*/
.chapterListBase{
margin: 5px 5px 0;
display: block;
border: 2px solid #ddd;
border-radius: 5px;
overflow: hidden;
}
.chapterList{
display: block;
width: 100%;
height: auto;
min-height: 50px;
overflow: visible;
padding: 0;
background: #eee;
border-bottom: 2px solid #ddd;
}
.chapterList p{
line-height: 50px;
text-align: center;
font-size: 120%;
margin: 0;
font-weight: bold;
color: #555;
}

/*--------------Topic List-----------------*/
.topicList{
margin: 5px;
padding: 5px;
background-color: #eee;
border: 1px solid #ddd;
border-radius: 4px;
cursor: pointer;
}
.topicList::before{
content: "";
display: inline-block;
width: 12px;
height: 12px;
margin: 0 5px;
border-radius: 6px;
background-color: #666;
}
.topicList.active{
background-color: #555;
border: 1px solid #555;
color: #eee;
}
.topicList.active::before{
background-color: #FBD75B;
}

/*----------------Responsive-----------------*/
@media only screen and (max-width: 500px){
.previousArticle, .nextArticle{
width: 180px;
display: block;
margin: 5px auto;
}
.chapterTitle {
padding: 5px 5px 0;
border: 2px solid #e6c655;
border-width: 2px 0;
}
.chapterx{
text-transform: uppercase;
display: block;
height: auto;
line-height: 25px;
width: 130px;
padding: 2px 6px;
}
.chapterTitle p{
display: block;
line-height: 30px;
}
.chapterTitle img{
float: right;
top: 0;
right: 0;
margin-top: -8px;
width: 39px;
height: 39px;
}
}