/*-ESSENTIAL-*/
::-webkit-scrollbar,
::-webkit-scrollbar-track  {
display: none;
}
.fixed {
position: fixed;
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
}
.transition {
transition: all .3s ease;
-webkit-transition: all .3s ease;
}
.loadingScreen{
display: block;
top:0;
left: 0;
width: 100%;
height: 100%;
background: #121418;
opacity: 1;
z-index: 9999999;
}
.loading{
position: absolute;
display: block;
height: 30px;
width: 30px;
border: 8px solid #fece00;
border-right-color: transparent;
border-radius: 50%;
top: 50%;
right: 0;
bottom: 0;
left: 50%;
margin: -24px 0 0 -24px;
-webkit-animation: .75s rotate infinite;
animation: .75s rotate infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body, html{
width: 100%;
margin: 0;
padding: 0;
font-family: 'PT Sans';
letter-spacing: 0.6px;
overflow-x: hidden;
color: #555;
-webkit-user-select: none;
user-select:none;
}
h1, h2, h3, h4, h5 {
margin: 0;
padding: 0;
text-align: left;
}
p{
margin: 0;
padding: 0;
}
body a{
text-decoration: none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
}
hr{
width: 100%;
height: 4px;
background-color: rgba(0,0,0,0.2);
border: 0;
border-radius: 50%;
padding: 0;
margin: 10px 0;
}

.space{
width: 100%;
height: 10px;
display: block;
}

/*-Center Align-*/
#table-container {
display: table;
text-align: center;
width: 100%;
height: 100%;
}
#container {
display: table-cell; 
vertical-align: middle;
padding: 20px 0;
}
#main {
display: inline-block;
}

/*-buttons-*/
.button {
display: block;
height: 50px;
width: 200px;
text-align: center;
line-height: 50px;
text-transform: uppercase;
font-weight: bold;
margin: 10px auto;
border-radius: 3px;
cursor: pointer;
}
.button {
background-color: #FFC800;
box-shadow: 0 0 0 3px #555555;
color: #555555;
}
.button.yellow {
background-color: #fece00;
box-shadow: 0 0 0 3px #fece00;
color: #555;
}
.button.gray {
background-color: #555;
box-shadow: 0 0 0 3px #555;
color: #ccc;
}
.button.red {
background-color: #E36C46;
box-shadow: 0 0 0 3px #E36C46;
color: #eee;
}
.button.blue {
background-color: #0086B5;
box-shadow: 0 0 0 3px #0086B5;
color: #eee;
}

/*-notification-*/
#notificationBack {
background-color: #f7f7f7;
padding: 5px;
border: 2px solid rgba(0,0,0,0.4);
border-radius: 4px;
}
.infoBase{
text-align: center;
width: 250px;
padding: 10px 0;
opacity: 0;
}
.infobase p{
text-align: justify;
}
.infobase h1, .infobase h2, .infobase h3{
text-align: center;
}

/*-special-*/
.backTexture {
background-image: url(/images/backbase.png);
background-repeat: repeat;
background-position: top left;
background-size: 200px;
background-attachment: fixed;
}